<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Joke</title>
</head>
<body>
<h1>A random joke</h1>
<p th:text="${joke}"></p>
<pre>
$$$$$$\ $$\  $$\                                   $$$$$\           $$\
\_$$  _|$$ | $  |                                  \__$$ |          $$ |
  $$ |$$$$$$\\_/ $$$$$$$\        $$$$$$\              $$ | $$$$$$\  $$ |  $$\  $$$$$$\
  $$ |\_$$  _|  $$  _____|       \____$$\             $$ |$$  __$$\ $$ | $$  |$$  __$$\
  $$ |  $$ |    \$$$$$$\         $$$$$$$ |      $$\   $$ |$$ /  $$ |$$$$$$  / $$$$$$$$ |
  $$ |  $$ |$$\  \____$$\       $$  __$$ |      $$ |  $$ |$$ |  $$ |$$  _$$<  $$   ____|
$$$$$$\ \$$$$  |$$$$$$$  |      \$$$$$$$ |      \$$$$$$  |\$$$$$$  |$$ | \$$\ \$$$$$$$\
\______| \____/ \_______/        \_______|       \______/  \______/ \__|  \__| \_______|
</pre>
</body>
</html>